

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()">
    <link rel="icon" type="image/png" sizes="32x32" href="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()">
    <link rel="icon" type="image/png" sizes="16x16" href="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()" color="#666666">
    <link rel="shortcut icon" href="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script>
        function sifremiUnuttum() {
            Swal.fire({
                title: 'Mail Adresinizi Yazınız',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Şifre Gönder',
                cancelButtonText: 'Kapat',
                showLoaderOnConfirm: true,
                preConfirm: (mailAdresi) => {
                    if (mailAdresi == "") {
                        Swal.showValidationMessage(
                            'Mail Adresi Boş Geçilemez!'
                        )
                        return;
                    }
                    var theData = {
                        mailAdresi: mailAdresi
                    }

                    let timerInterval
                    Swal.fire({
                        title: 'Lütfen Bekleyin!',
                        html: 'Geçici Şifreniz Oluşturup Sms İle Gönderilecektir.',
                        timer: 5000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        
                    })

                    $.ajax({
                        url: '/Admin_Login/geciciSifreOlustur/',
                        type: 'POST',
                        dataType: 'text',
                        data: theData,
                        success: function (data) {
                            data = JSON.parse(data);
                            if (Boolean(data.IsSuccessStatusCode)) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: data.Content,
                                    showConfirmButton: false,
                                    timer: 5000
                                })
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: data.ErrorMessage,
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                // Swal.showValidationMessage(data.ErrorMessage)
                            }
                        }
                    });



                },
                allowOutsideClick: () => !Swal.isLoading()
            })
            //    .then((result) => {
            //    if (result.isConfirmed) {
            //        Swal.fire({
            //            title: `${result.value.login}'s avatar`,
            //            imageUrl: result.value.avatar_url
            //        })
            //    }
            //})
        }
    </script>
</head>
<body style="background-color: #eff4f7;">
    <div class="page-wrapper">

        <main class="main pt-5">

            <div class="row">
                <div class=" p-0 col-md-3 m-auto shadow  bg-white">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <img src="@System.Configuration.ConfigurationManager.AppSettings["Logo"].ToString()"" alt="Kale Blok Logo" style="width:100%;border-radius: 5px 5px 0 0;" ondblclick="window.location='/Dealer_Login/Login'">

                                <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">GİRİŞ YAP</a>
                            </li>

                        </ul>
                        <div class="tab-content m-5 mt-0">
                            <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                <form action="/Admin_Login/Login" method="post">
                                    <div class="form-group">
                                        <label for="singin-email-2" style="margin:0">Mail Adresi *</label>
                                        <input type="text" class="form-control form-control-lg" id="singin-email-2" name="email" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="singin-password-2" style="margin:0">Şifre *</label>
                                        <input type="password" class="form-control form-control-lg" id="singin-password-2" name="password" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-footer" style="display:block">
                                        <button type="submit" class="btn btn-primary">
                                            <span>GİRİŞ YAP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <a class="btn btn-link" style="cursor:pointer;float:right" onclick="sifremiUnuttum()">Şifremi Unuttum</a>

                                    </div><!-- End .form-footer -->
                                    <p class="fw-bold text-danger">@ViewBag.Sonuc</p>
                                </form>
                                <!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div>
        </main><!-- End .main -->
        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    @*<script src="/assets/js/main.js"></script>*@
</body>
</html>
